{% extends "base.html" %}

{% block title %}Archive{% endblock %}

{% block content %}
    {% if entry_list %}
        {% for entry in entry_list %}
            <article>
                <time>{{entry.pub_date|date:"Y-m-j"}}</time>
                <h1>
                    <a href="/view/{{entry.id}}/">{{entry.title}}</a>
                    <sup><a href="/export/{{ entry.id }}/">Export</a></sup>
                </h1>
                <small>
                    tag{{ entry.tags.all|pluralize }}:
                    {% for tag in entry.tags.all %} {{ tag }} {% endfor %}
                </small>
            </article>
        {% endfor %}
    {% else %}
        <p>Sorry, there is no article.</p>
    {% endif %}
    {% if tag_list %}
        <p><small>{% for tag in tag_list %} {{ tag }} {% endfor %}</small></p>
    {% endif %}
{% endblock %}
