{% extends "base.html" %}

{% block title %}Antidote/Red{% endblock %}

{% block content %}
    <h1>Upload</h1>
    {% if errors %}
        <ul style="color:#f00;list-style:none;padding:0;">
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form %}
    <form enctype="multipart/form-data" method="post" action="">
        {{ form.as_p }}
        <p><input type="submit" value="Submit" /></p>
    </form>
    {% endif %}
{% endblock %}
